@model IEnumerable<Seikluspark.Models.park>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.inimesed)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.käepaelad)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.inimesed)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.käepaelad)
        </td>
        <td>
            @if (item.inimesed == item.käepaelad)
            {
                @:Terve Grupp võib osaleda meie atraktsioonidel.
            }
        </td>
        <td>
            @if (item.inimesed > item.käepaelad)
            {
                @:Kahjuks sellest grupist saavad atraktsioonidele minna ainult käepaelaga inimesed.
            }
        </td>

    </tr>
}

</table>
